#! /bin/bash
#
# Copyright (C) 2018 Cumulus Networks, Inc. All rights reserved
# 
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
# 
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
# CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
# SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
# 
# https://www.debian.org/legal/licenses/mit
# 

kubectl get pods --all-namespaces | egrep -q "kubernetes\-dashboard" || {
    echo "started dashboad" >> dashboard.log
    kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml
}

kubectl get clusterrolebindings | egrep -q "kubernetes\-dashboard" || {
    echo "installed rolebindings" >> dashboard.log
    kubectl create -f dashboard.yml
}

PROXY_PID=$(ps aux | grep "[k]ubectl proxy" | awk '{print $2}')
[ "$PROXY_PID" == "" ] || {
    kill $PROXY_PID
}

while ! ps aux | grep -q "[d]ashboard.*insecure-bind-address"
do
    sleep 10
done

while ! kubectl get pods --all-namespaces | egrep -q "kube\-apiserver"
do
    sleep 10
done

nohup kubectl proxy --address="192.168.0.31" -p 8001 --accept-hosts='^*$' &

sleep 20

ps aux >> dashboard.log

