#! /bin/bash
#
# Copyright (C) 2018 Cumulus Networks, Inc. All rights reserved
# 
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
# 
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
# CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
# SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
# 
# https://www.debian.org/legal/licenses/mit
# 

while ! kubectl get pods --all-namespaces | egrep -q "kube\-apiserver"
do
    echo "wait for the kube-apiserver" | tee -a dashboard.log
    sleep 10
done

kubectl get pods --all-namespaces | egrep -q "kubernetes\-dashboard" || {
    echo "start kubernetes-dashboad" | tee -a dashboard.log
#    kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended/kubernetes-dashboard.yaml
#    kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended/kubernetes-dashboard.yaml
    kubectl apply -f kubernetes-dashboard.yaml
}

kubectl get clusterrolebindings | egrep -q "kubernetes\-dashboard" || {
    echo "install rolebindings" | tee -a dashboard.log
    kubectl create -f dashboard-rolebindings.yaml
}

PROXY_PID=$(ps aux | grep "[k]ubectl proxy" | awk '{print $2}')
[ "$PROXY_PID" == "" ] && {
    echo "start the proxy" | tee -a dashboard.log
    nohup kubectl proxy --address="192.168.0.31" --port 8001 --accept-hosts='^*$' &
}


sleep 20

ps aux | tee -a dashboard.log

