#
# Copyright (C) 2018 Cumulus Networks, Inc. All rights reserved
# 
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
# 
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
# CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
# SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
# 
# https://www.debian.org/legal/licenses/mit
# 

# Configured by Ansible

{% set myvars = servervars[ansible_hostname] -%}

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp

auto lo:1
allow-ansible lo:1
iface lo:1 inet static
  address {{ myvars.V4 }}/32

auto eth1
allow-ansible eth1
iface eth1 inet manual
  mtu 9000

auto eth2
allow-ansible eth2
iface eth2 inet manual
  mtu 9000

auto cbr0
allow-ansible cbr0
iface cbr0 inet manual
  pre-up ip link add name cbr0 type bridge
  post-down ip link del cbr0
